WEATHER_API_URL=https://api.weatherapi.com/v1/current.json
WEATHER_API_KEY=your_api_key
OPEN_WEATHER_URL=https://api.openweathermap.org/data/2.5/weather
OPEN_WEATHER_KEY=your_api_key



REDIS_SOURCE=redis://<username>:<password>@<host>:<port>/<db>


METRICS_SERVER_PORT=port
GRPC_PORT=port

LOG_FILE_PATH=./example/path.txt

SERVICE_NAME=weather


LOG_LEVEL=debug

LOG_SAMPLING_RATE=1 

